{% extends "base.html" %}

{% block title %}Event Outcomes{% endblock %}

{% block content %}
<div class="info">
    <h1>Event Outcomes</h1>
    <p>Watch the highlights, project demonstrations, and key talks from Access Bristol.</p>

    <div style="margin-top: 2rem; margin-bottom: 3rem;">
        <h2>Event Highlights</h2>
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
            <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;" 
                src="https://uob-my.sharepoint.com/personal/ra22901_bristol_ac_uk/_layouts/15/embed.aspx?UniqueId=38d9471c-fc85-4c0d-9e0c-7874f0c3505a&embed=%7B%22hvm%22%3Atrue%2C%22ust%22%3Atrue%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" 
                title="Access Bristol Main Film" 
                frameborder="0" 
                scrolling="no" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
    
    <p><em>More videos coming soon!</em></p>
</div>
{% endblock %}