{% extends "base.html" %}

{% block title %}Our Partners{% endblock %}

{% block content %}
<section class="partners" aria-labelledby="partners-heading">
  <h2 id="partners-heading">Our partners</h2>

  <div class="partners__grid">
    {% for p in partners %}
      {% set name=p.name %}
      {% set org=p.org %}
      {% set logo=p.logo_url %}
      {% set photo=p.photo_url %}
      {% set desc=p.description %}
      {% set href=p.url %}
      {% include "partials/_partner_card.html" %}
    {% else %}
      <p>No partners to show yet.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
